h1, h2, h3 {
	text-align: center;
	text-indent: 0;
}

h1 { font-size: 161%; }
h2 { font-size: 140%; }
h3 { font-size: 120%; }

body {
	font-family: "Vollkorn", serif;
	text-align: justify;
	text-indent: 2em;
	margin: 0 2em;
}
